<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Joins and set operations
Â© ExploreAI Academy

In this exercise, we will use the skills we have learned so far to solve complex problems that involve string manipulation and handling.

## Learning objectives

In this exercise, we will:
- Understand and use different types of SQL Joins to combine data from different tables.
- Use `UNION`, `INTERSECT`, and `MINUS/EXCEPT` operators to combine rows from different tables.
- Understand the difference between Joins and Unions/Intersections/Minus in terms of column-wise and row-wise concatenation.

First, let's load our sample database:

In [3]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:70%";/>
<br>
<br>
    <em>Figure 1: Northwind database ERD</em>
</div>

## Overview
Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Using the Northwind database, determine the list of products and their respective suppliers.

In [10]:
%%sql

SELECT
    ProductId,
    ProductName,
    S.CompanyName,
    S.ContactName
FROM
    Products P
INNER JOIN
    Suppliers S
ON
    P.SupplierId = S.SupplierId

 * sqlite:///Northwind.db
Done.

[(1, 'Chai', 'Exotic Liquids', 'Charlotte Cooper'),
 (2, 'Chang', 'Exotic Liquids', 'Charlotte Cooper'),
 (3, 'Aniseed Syrup', 'Exotic Liquids', 'Charlotte Cooper'),
 (4, "Chef Anton's Cajun Seasoning", 'New Orleans Cajun Delights', 'Shelley Burke'),
 (5, "Chef Anton's Gumbo Mix", 'New Orleans Cajun Delights', 'Shelley Burke'),
 (6, "Grandma's Boysenberry Spread", "Grandma Kelly's Homestead", 'Regina Murphy'),
 (7, "Uncle Bob's Organic Dried Pears", "Grandma Kelly's Homestead", 'Regina Murphy'),
 (8, 'Northwoods Cranberry Sauce', "Grandma Kelly's Homestead", 'Regina Murphy'),
 (9, 'Mishi Kobe Niku', 'Tokyo Traders', 'Yoshi Nagase'),
 (10, 'Ikura', 'Tokyo Traders', 'Yoshi Nagase'),
 (11, 'Queso Cabrales', "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra '),
 (12, 'Queso Manchego La Pastora', "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra '),
 (13, 'Konbu', "Mayumi's", 'Mayumi Ohno'),
 (14, 'Tofu', "Mayumi's", 'Mayumi Ohno'),
 (15, 'Genen Shouyu', "Mayumi's", 'Mayumi Ohno'),
 (16, 'Pavlova', 'Pavlova, Ltd.', 'Ian Devling'),
 (17, 'Alice Mutton', 'Pavlova, Ltd.', 'Ian Devling'),
 (18, 'Carnarvon Tigers', 'Pavlova, Ltd.', 'Ian Devling'),
 (19, 'Teatime Chocolate Biscuits', 'Specialty Biscuits, Ltd.', 'Peter Wilson'),
 (20, "Sir Rodney's Marmalade", 'Specialty Biscuits, Ltd.', 'Peter Wilson'),
 (21, "Sir Rodney's Scones", 'Specialty Biscuits, Ltd.', 'Peter Wilson'),
 (22, "Gustaf's Knckebrd", 'PB Knckebrd AB', 'Lars Peterson'),
 (23, 'Tunnbrd', 'PB Knckebrd AB', 'Lars Peterson'),
 (24, 'Guaran Fantstica', 'Refrescos Americanas LTDA', 'Carlos Diaz'),
 (25, 'NuNuCa Nu-Nougat-Creme', 'Heli Swaren GmbH & Co. KG', 'Petra Winkler'),
 (26, 'Gumbr Gummibrchen', 'Heli Swaren GmbH & Co. KG', 'Petra Winkler'),
 (27, 'Schoggi Schokolade', 'Heli Swaren GmbH & Co. KG', 'Petra Winkler'),
 (28, 'Rssle Sauerkraut', 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein'),
 (29, 'Thringer Rostbratwurst', 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein'),
 (30, 'Nord-Ost Matjeshering', 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen'),
 (31, 'Gorgonzola Telino', 'Formaggi Fortini s.r.l.', 'Elio Rossi'),
 (32, 'Mascarpone Fabioli', 'Formaggi Fortini s.r.l.', 'Elio Rossi'),
 (33, 'Geitost', 'Norske Meierier', 'Beate Vileid'),
 (34, 'Sasquatch Ale', 'Bigfoot Breweries', 'Cheryl Saylor'),
 (35, 'Steeleye Stout', 'Bigfoot Breweries', 'Cheryl Saylor'),
 (36, 'Inlagd Sill', 'Svensk Sjfda AB', 'Michael Bjrn'),
 (37, 'Gravad lax', 'Svensk Sjfda AB', 'Michael Bjrn'),
 (38, 'Cte de Blaye', 'Aux joyeux ecclsiastiques', 'Guylne Nodier'),
 (39, 'Chartreuse verte', 'Aux joyeux ecclsiastiques', 'Guylne Nodier'),
 (40, 'Boston Crab Meat', 'New England Seafood Cannery', 'Robb Merchant'),
 (41, "Jack's New England Clam Chowder", 'New England Seafood Cannery', 'Robb Merchant'),
 (42, 'Singaporean Hokkien Fried Mee', 'Leka Trading', 'Chandra Leka'),
 (43, 'Ipoh Coffee', 'Leka Trading', 'Chandra Leka'),
 (44, 'Gula Malacca', 'Leka Trading', 'Chandra Leka'),
 (45, 'Rogede sild', 'Lyngbysild', 'Niels Petersen'),
 (46, 'Spegesild', 'Lyngbysild', 'Niels Petersen'),
 (47, 'Zaanse koeken', 'Zaanse Snoepfabriek', 'Dirk Luchte'),
 (48, 'Chocolade', 'Zaanse Snoepfabriek', 'Dirk Luchte'),
 (49, 'Maxilaku', 'Karkki Oy', 'Anne Heikkonen'),
 (50, 'Valkoinen suklaa', 'Karkki Oy', 'Anne Heikkonen'),
 (51, 'Manjimup Dried Apples', "G'day, Mate", 'Wendy Mackenzie'),
 (52, 'Filo Mix', "G'day, Mate", 'Wendy Mackenzie'),
 (53, 'Perth Pasties', "G'day, Mate", 'Wendy Mackenzie'),
 (54, 'Tourtire', 'Ma Maison', 'Jean-Guy Lauzon'),
 (55, 'Pt chinois', 'Ma Maison', 'Jean-Guy Lauzon'),
 (56, 'Gnocchi di nonna Alice', 'Pasta Buttini s.r.l.', 'Giovanni Giudici'),
 (57, 'Ravioli Angelo', 'Pasta Buttini s.r.l.', 'Giovanni Giudici'),
 (58, 'Escargots de Bourgogne', 'Escargots Nouveaux', 'Marie Delamare'),
 (59, 'Raclette Courdavault', 'Gai pturage', 'Eliane Noz'),
 (60, 'Camembert Pierrot', 'Gai pturage', 'Eliane Noz'),
 (61, "Sirop d'rable", "Forts d'rables", 'Chantal Goulet'),
 (62, 'Tarte au sucre', "Forts d'rables", 'Chantal Goulet'),
 (63, 'Vegie-spread', 'Pavlova, Ltd.', 'Ian Devling'),
 (64, 'Wimmers gute Semmelkndel', 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein'),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 'New Orleans Cajun Delights', 'Shelley Burke'),
 (66, 'Louisiana Hot Spiced Okra', 'New Orleans Cajun Delights', 'Shelley Burke'),
 (67, 'Laughing Lumberjack Lager', 'Bigfoot Breweries', 'Cheryl Saylor'),
 (68, 'Scottish Longbreads', 'Specialty Biscuits, Ltd.', 'Peter Wilson'),
 (69, 'Gudbrandsdalsost', 'Norske Meierier', 'Beate Vileid'),
 (70, 'Outback Lager', 'Pavlova, Ltd.', 'Ian Devling'),
 (71, 'Flotemysost', 'Norske Meierier', 'Beate Vileid'),
 (72, 'Mozzarella di Giovanni', 'Formaggi Fortini s.r.l.', 'Elio Rossi'),
 (73, 'Rd Kaviar', 'Svensk Sjfda AB', 'Michael Bjrn'),
 (74, 'Longlife Tofu', 'Tokyo Traders', 'Yoshi Nagase'),
 (75, 'Rhnbru Klosterbier', 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein'),
 (76, 'Lakkalikri', 'Karkki Oy', 'Anne Heikkonen'),
 (77, 'Original Frankfurter grne Soe', 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein')]

### Exercise 2

Generate a list of all cities where customers and employees are located.

In [15]:
%%sql

SELECT
    city
FROM
    Employees E
UNION
SELECT
    city
FROM
    Customers C;

 * sqlite:///Northwind.db
Done.

[(None,),
 ('Aachen',),
 ('Albuquerque',),
 ('Anchorage',),
 ('Barcelona',),
 ('Barquisimeto',),
 ('Bergamo',),
 ('Berlin',),
 ('Bern',),
 ('Boise',),
 ('Brandenburg',),
 ('Brcke',),
 ('Bruxelles',),
 ('Buenos Aires',),
 ('Butte',),
 ('Campinas',),
 ('Caracas',),
 ('Charleroi',),
 ('Cork',),
 ('Cowes',),
 ('Cunewalde',),
 ('Elgin',),
 ('Eugene',),
 ('Frankfurt a.M.',),
 ('Genve',),
 ('Graz',),
 ('Helsinki',),
 ('I. de Margarita',),
 ('Kirkland',),
 ('Kln',),
 ('Kobenhavn',),
 ('Lander',),
 ('Leipzig',),
 ('Lille',),
 ('Lisboa',),
 ('London',),
 ('Lule',),
 ('Lyon',),
 ('Madrid',),
 ('Mannheim',),
 ('Marseille',),
 ('Mnchen',),
 ('Mnster',),
 ('Montral',),
 ('Mxico D.F.',),
 ('Nantes',),
 ('Oulu',),
 ('Paris',),
 ('Portland',),
 ('Redmond',),
 ('Reggio Emilia',),
 ('Reims',),
 ('Resende',),
 ('Rio de Janeiro',),
 ('Salzburg',),
 ('San Cristbal',),
 ('San Francisco',),
 ('Sao Paulo',),
 ('Seattle',),
 ('Sevilla',),
 ('Stavern',),
 ('Strasbourg',),
 ('Stuttgart',),
 ('Tacoma',),
 ('Torino',),
 ('Toulouse',),
 ('Tsawassen',),
 ('Vancouver',),
 ('Versailles',),
 ('Walla Walla',),
 ('Warszawa',),
 ('rhus',)]

In [25]:
%%sql

SELECT
    DISTINCT city
FROM
    Employees

 * sqlite:///Northwind.db
Done.

[('Seattle',), ('Tacoma',), ('Kirkland',), ('Redmond',), ('London',)]

###  Exercise 3

Create a list of all unique cities where customers are located and employees live.

In [23]:
%%sql

SELECT DISTINCT 
    E.city AS Emp_City, 
    C.city AS Cust_City
FROM
    Employees E
FULL OUTER JOIN
    Customers C
ON
    E.city = C.city

 * sqlite:///Northwind.db
Done.

[('Seattle', 'Seattle'),
 ('Tacoma', None),
 ('Kirkland', 'Kirkland'),
 ('Redmond', None),
 ('London', 'London'),
 (None, 'Berlin'),
 (None, 'Mxico D.F.'),
 (None, 'Lule'),
 (None, 'Mannheim'),
 (None, 'Strasbourg'),
 (None, 'Madrid'),
 (None, 'Marseille'),
 (None, 'Tsawassen'),
 (None, 'Buenos Aires'),
 (None, 'Bern'),
 (None, 'Sao Paulo'),
 (None, 'Aachen'),
 (None, 'Nantes'),
 (None, 'Graz'),
 (None, 'Lille'),
 (None, 'Brcke'),
 (None, 'Mnchen'),
 (None, 'Torino'),
 (None, 'Lisboa'),
 (None, 'Barcelona'),
 (None, 'Sevilla'),
 (None, 'Campinas'),
 (None, 'Eugene'),
 (None, 'Caracas'),
 (None, 'Rio de Janeiro'),
 (None, 'San Cristbal'),
 (None, 'Elgin'),
 (None, 'Cork'),
 (None, 'Cowes'),
 (None, 'Brandenburg'),
 (None, 'Versailles'),
 (None, 'Toulouse'),
 (None, 'Vancouver'),
 (None, 'Walla Walla'),
 (None, 'Frankfurt a.M.'),
 (None, 'San Francisco'),
 (None, 'Barquisimeto'),
 (None, 'I. de Margarita'),
 (None, 'Portland'),
 (None, 'Bergamo'),
 (None, 'Bruxelles'),
 (None, 'Montral'),
 (None, 'Leipzig'),
 (None, 'Anchorage'),
 (None, 'Kln'),
 (None, 'Paris'),
 (None, 'Salzburg'),
 (None, 'Cunewalde'),
 (None, 'Albuquerque'),
 (None, 'Reggio Emilia'),
 (None, 'Genve'),
 (None, 'Stavern'),
 (None, 'Boise'),
 (None, 'Kobenhavn'),
 (None, 'Lander'),
 (None, 'Charleroi'),
 (None, 'Butte'),
 (None, 'Mnster'),
 (None, 'rhus'),
 (None, None),
 (None, 'Lyon'),
 (None, 'Reims'),
 (None, 'Stuttgart'),
 (None, 'Oulu'),
 (None, 'Resende'),
 (None, 'Helsinki'),
 (None, 'Warszawa')]

### 4. Challenge question

Using the Northwind database, as the new sales analyst, you've been asked to prepare a sales report for the last quarter. Your report should include:
1. Customer names and their countries.
2. The total amount spent by each customer.
3. The list of products each customer purchased.
4. The total quantity of each product purchased by each customer.

Only include customers who have spent more than 5000 in the last quarter.

In [96]:
%%sql

SELECT
    DISTINCT ContactName,
    Country,
    SUM(OD.UnitPrice * OD.Quantity) - SUM(OD.Discount * OD.Quantity) 
    AS Total_Amount_Spent_By_Customer,
    P.productName,
    SUM(OD.Quantity) 
FROM
    Customers C
INNER JOIN
    Orders O
ON
    O.CustomerId = C.CustomerId
INNER JOIN
    OrderDetails OD
ON
    O.OrderId = OD.OrderId
INNER JOIN
    Products P
ON
    OD.ProductId = P.ProductId
WHERE 
    O.OrderDate BETWEEN '1996-08-01' AND '1998-01-30'
GROUP BY
    ContactName,
    Country,
    P.productName
HAVING
    Total_Amount_Spent_By_Customer > 5000
ORDER BY
    ContactName

 * sqlite:///Northwind.db
Done.

[('Georg Pipps', 'Austria', 10540.0, 'Cte de Blaye', 50),
 ('Horst Kloss', 'Germany', 6222.0, 'Camembert Pierrot', 194),
 ('Horst Kloss', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Horst Kloss', 'Germany', 5268.0, 'Schoggi Schokolade', 120),
 ('Howard Snyder', 'USA', 11857.5, 'Cte de Blaye', 45),
 ('Jean Fresnire', 'Canada', 10329.2, 'Cte de Blaye', 49),
 ('Jose Pavarotti', 'USA', 6832.4400000000005, 'Thringer Rostbratwurst', 60),
 ('Jytte Petersen', 'Denmark', 10540.0, 'Cte de Blaye', 50),
 ('Lcia Carvalho', 'Brazil', 8432.0, 'Cte de Blaye', 40),
 ('Patricia McKenna', 'Ireland', 5830.0, 'Raclette Courdavault', 112),
 ('Paula Wilson', 'USA', 6324.0, 'Cte de Blaye', 30),
 ('Paula Wilson', 'USA', 6208.0, 'Tarte au sucre', 145),
 ('Philip Cramer', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Roland Mendel', 'Austria', 6360.0, 'Manjimup Dried Apples', 120)]

## Solutions

### Exercise 1

This query combines rows from `Products` and `Suppliers` tables based on the condition where `Products.SupplierID` equals `Suppliers.SupplierID`.

Expected outcome: The result should be a table that includes columns for `ProductName` and `SupplierName` which shows the products and their respective suppliers.

In [ ]:
%%sql

SELECT 
    product.ProductName, 
    supplier.CompanyName
FROM 
    Products AS product
INNER JOIN 
    Suppliers AS supplier
    ON product.SupplierID = supplier.SupplierID;

### Exercise 2

The `UNION` operator is used to combine the results of two `SELECT` statements. It removes duplicate rows from the results.

Expected outcome: A single column table of unique cities where customers and employees are located.

In [16]:
%%sql

SELECT 
    City 
FROM 
    Customers
UNION
SELECT 
    City 
FROM 
    Employees;

 * sqlite:///Northwind.db
Done.

[(None,),
 ('Aachen',),
 ('Albuquerque',),
 ('Anchorage',),
 ('Barcelona',),
 ('Barquisimeto',),
 ('Bergamo',),
 ('Berlin',),
 ('Bern',),
 ('Boise',),
 ('Brandenburg',),
 ('Brcke',),
 ('Bruxelles',),
 ('Buenos Aires',),
 ('Butte',),
 ('Campinas',),
 ('Caracas',),
 ('Charleroi',),
 ('Cork',),
 ('Cowes',),
 ('Cunewalde',),
 ('Elgin',),
 ('Eugene',),
 ('Frankfurt a.M.',),
 ('Genve',),
 ('Graz',),
 ('Helsinki',),
 ('I. de Margarita',),
 ('Kirkland',),
 ('Kln',),
 ('Kobenhavn',),
 ('Lander',),
 ('Leipzig',),
 ('Lille',),
 ('Lisboa',),
 ('London',),
 ('Lule',),
 ('Lyon',),
 ('Madrid',),
 ('Mannheim',),
 ('Marseille',),
 ('Mnchen',),
 ('Mnster',),
 ('Montral',),
 ('Mxico D.F.',),
 ('Nantes',),
 ('Oulu',),
 ('Paris',),
 ('Portland',),
 ('Redmond',),
 ('Reggio Emilia',),
 ('Reims',),
 ('Resende',),
 ('Rio de Janeiro',),
 ('Salzburg',),
 ('San Cristbal',),
 ('San Francisco',),
 ('Sao Paulo',),
 ('Seattle',),
 ('Sevilla',),
 ('Stavern',),
 ('Strasbourg',),
 ('Stuttgart',),
 ('Tacoma',),
 ('Torino',),
 ('Toulouse',),
 ('Tsawassen',),
 ('Vancouver',),
 ('Versailles',),
 ('Walla Walla',),
 ('Warszawa',),
 ('rhus',)]

###  Exercise 3

The `JOIN` query returns cities that are common in both `Customers` and `Employees` tables (i.e. it looks for matches). On the other hand, the `UNION` query returns a list of all unique cities in both tables, eliminating any duplicates.

Expected outcome: Two sets of outputs â one for the `JOIN` query and another for the `UNION` query.

In [30]:
%%sql

SELECT 
    Customers.City 
FROM 
    Customers 
INNER JOIN 
    Employees 
    ON Customers.City = Employees.City;

SELECT 
    City 
FROM 
    Customers
UNION
SELECT 
    City 
FROM 
    Employees;

 * sqlite:///Northwind.db
Done.

[('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('London',),
 ('Kirkland',),
 ('Seattle',),
 ('Seattle',)]

### 4. Challenge question

In [58]:
%%sql

SELECT 
    customer.ContactName, 
    customer.Country,
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) AS TotalSalesAmount,
    product.ProductName,
    SUM(orderDetails.Quantity) AS TotalUnitsSold
FROM 
    Customers AS customer
JOIN 
    Orders AS orders 
    ON customer.CustomerID = orders.CustomerID
JOIN 
    OrderDetails AS orderDetails 
    ON orders.OrderID = orderDetails.OrderID
JOIN 
    Products AS product 
    ON orderDetails.ProductID = product.ProductID
WHERE 
    orders.OrderDate BETWEEN '1996-08-01' AND '1998-01-30'
GROUP BY 
    customer.ContactName,
    customer.Country, 
    product.ProductName
HAVING 
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) > 5000;

 * sqlite:///Northwind.db
Done.

[('Georg Pipps', 'Austria', 10540.0, 'Cte de Blaye', 50),
 ('Horst Kloss', 'Germany', 6222.0, 'Camembert Pierrot', 194),
 ('Horst Kloss', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Horst Kloss', 'Germany', 5268.0, 'Schoggi Schokolade', 120),
 ('Howard Snyder', 'USA', 11857.5, 'Cte de Blaye', 45),
 ('Jean Fresnire', 'Canada', 10329.2, 'Cte de Blaye', 49),
 ('Jose Pavarotti', 'USA', 6832.4400000000005, 'Thringer Rostbratwurst', 60),
 ('Jytte Petersen', 'Denmark', 10540.0, 'Cte de Blaye', 50),
 ('Lcia Carvalho', 'Brazil', 8432.0, 'Cte de Blaye', 40),
 ('Patricia McKenna', 'Ireland', 5830, 'Raclette Courdavault', 112),
 ('Paula Wilson', 'USA', 6324.0, 'Cte de Blaye', 30),
 ('Paula Wilson', 'USA', 6208.0, 'Tarte au sucre', 145),
 ('Philip Cramer', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Roland Mendel', 'Austria', 6360, 'Manjimup Dried Apples', 120)]

This problem involves pulling data from multiple tables (`Customers`, `Orders`, `OrderDetails`, and `Products`) to create a detailed report. It's testing your ability to use `JOINS`, aggregate functions, grouping, and the `HAVING` clause.

Here's how to break down the problem:

1. **Identify the tables you need to pull data from**: For this problem, you'll need data from the `Customers`, `Orders`, `OrderDetails`, and `Products` tables.
2. **Join these tables**: Use SQL joins to connect these tables. The `Orders` table is connected to `Customers` via `CustomerID`. The `OrderDetails` table is connected to `Orders` via `OrderID` and to `Products` via `ProductID`.
3. **Filter the data**: Use the `WHERE` clause to filter orders to only include those from the last quarter ('2023-04-01' to '2023-06-30').
4. **Aggregate the data**: Aggregate functions are needed to calculate the total amount spent by each customer (SUM of `Quantity` * `UnitPrice`) and the total quantity of each product purchased by each customer (`SUM` of `Quantity`). This is done in the `SELECT` clause.
5. **Group the data**: Use the `GROUP BY` clause to segment the data by `CustomerName`, `Country`, and `ProductName`.
6. **Apply a condition on an aggregate:** Lastly, use the `HAVING` clause to include only customers who have spent more than 5000 in the last quarter. Remember, when you want to use a condition on an aggregate, you should use the `HAVING` clause, not the `WHERE` clause. The `WHERE` clause is used to filter rows, while the `HAVING` clause is used to filter groups.

The result is a detailed report with customer names, their countries, the total amount spent by each customer, the list of products each customer purchased, and the total quantity of each product purchased by each customer for the last quarter. Only customers who spent more than 5000 are included.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>